<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./tests/config/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="functional">
            <directory suffix="Test.php">tests/Functional/</directory>
        </testsuite>
    </testsuites>
    <coverage
            processUncoveredFiles="true"
            cacheDirectory="reports">
    </coverage>
    <logging>
        <testdoxXml outputFile="reports/logfile.xml"/>
    </logging>
    <php>
    </php>
</phpunit>
