<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         convertDeprecationsToExceptions="true"
         processIsolation="true"
         backupGlobals="false"
         colors="true"
         verbose="true"
         bootstrap="./Tests/bootstrap.php"
        >
    <testsuites>
        <testsuite name="customer-secrets-php-sdk">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
